
body {
    font-family: "Public Sans", serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.sign-in-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    height: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}
.form-section {
    padding: 2rem 4rem;
    max-width: 549px;
    .heading {
        font-family: "Sora", serif;
        font-size: 4rem;
        font-weight: 600;
        line-height: 60px;
        color: #222B33;
    }
    p{
        font-size: 1.25rem;
        font-weight: 300;
        color: #3B4752;
    }
}
.form-section form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    color:#222B33;
    font-size: 16px;
    font-weight: 500;
}
.lightText {
    font-size: 16px;
    color: #3B4752;
    font-weight: 360;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #CFD8E1;
    background-color: #F9FAFB;
    border-radius: 2px;
    font-size: 1rem;
}
input[type="checkbox" i]{
background-color: #50F89A;
}
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.toggle-password-visibility {
    position: absolute;
    right: 2px;
    top: 12px;
    cursor: pointer;
 
}
button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        border: 1px solid #00E687;
    }
}
.sign-in-btn {
    background-color: #50F89A;
    color: #005237;
    border: 1px solid #00E687;
    width: 100%;
}
.iconImg{
    margin-right: 10px;
    width: 20px;
}
.sign-with-google {
    background-color: #FFFFFF;
    border: 1px solid #CFD8E1;
    margin-top: 12px;
    color:#3B4752;
    width: 100%;
}


form span,a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  
}
a {
    text-decoration: underline;
   &:hover{
    color: #005237;
   } 
}

.image-section {
    max-width: 731px;
    height: 100vh;
}
@media (max-width: 1024px) {

    .image-section {
        max-width: 631px;
    }
}
@media (max-width: 768px) {

    .image-section {
       display: none;
    }
}
